@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
}


body{
/* background-color: black; */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.container {
width: 450px;
background-color: #F4F5F7;
display: flex;
align-items: center;
justify-content: center;
border-radius: 32px;
padding: 80px 0px;
}

.contain {
background-color: white;
padding: 32px 32px;
margin: 50px 0px;
border-radius: 24px;

}

.logo{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.logo img {

width: 50px;
height: 50px;
}

.phone {
margin-bottom: 20px;  
}


.phone label {

  font-weight: bold;
}

.phone input[type="text"]{
  display: flex;
  justify-items: center;
  align-items: center;
  width: 300px;
  padding: 15px 15px;
  border: none;
  outline: none;
  border-radius: 32px;
  color: #B0B1B3;
  background-color: #F4F5F7;
  margin-top: 8px;
}

.pin {
  margin-bottom: 20px;
}
.pin label {

  font-weight: bold;
}

.pin input[type="password"] {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 300px;
  padding: 15px 15px;
  border: none;
  outline: none;
  border-radius: 32px;
  color: #B0B1B3;
  background-color: #F4F5F7;
  margin-top: 8px;
}

#btn-primary {
  width: 300px;
  padding: 15px;
  background-color: #0874F2;
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 20px;
  cursor: pointer;
}